.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(180deg, var(--color-p1) 0%, var(--color-p3) 100%);
  border-radius: 5px;
  font: 600 1.125rem / 1.35 Poppins, sans-serif;
  max-width: max-content;
  margin-bottom: 32px;
}

.botao:hover {
  background: linear-gradient(180deg, var(--color-p2) 0%, var(--color-p4) 100%);
}