.solucao-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 120px 0px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.titulo-bg{
  background-color: var(--color-11);
}

.titulo-container {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.solucao-container p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

.solucao-imagem {
  display: grid;
}

.solucao-conteudo{
  display: grid;
  gap: 40px 0px;
}

.solucao-bg{
  background-color: var(--color-11);
}

.solucao-conteudo a {
  justify-self: end;
  align-self: end;
}

.solucao-conteudo h2 {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}

.solucao-conteudo h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
}