.sobre {
  display: grid;
  text-align: center;
  gap: 20px;
  padding: 20px 200px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  
}



.sobre h1 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  padding-top: 20px;
}

.sobre p, ul{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}



.sobre-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 80px 200px;
  box-sizing: border-box;
  margin-bottom: 24px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-items: end;
}

.sobre-container :nth-child(4) {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
}


.sobre-container p{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  
}

.valores li::before {
  display: inline-block;
  margin: 0 5px 2px 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-p1);
}

.missao-img img {
  width: 345px;
  height: 307px;
}

.visao-img img {
  width: 391px;
  height: 230px;
}

.valores-img img {
  width: 352px;
  height: 286px;
}